body{
    padding: 100px;
}
.wel-txt-head{
    text-align: center;
}
.submit-area{
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    padding: 40px;

}
#tran-area{
    display: none;
}
.status{
    margin: 0 20px;
    border-radius: 10px;
    color: white;
    padding: 30px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}